<img src="/images/books.jpg" class="img-responsive"/>

<div class="col-md-12">

  <br/>

  Каталог електронних навчально-методичних матеріалів включає в себе всі інформаційні матеріали та методичні посібники
  університету в електронному вигляді, необхідні студентам і викладачам для навчального процесу.<br/>
  Повнотекстові документи, представлені в каталозі електронних навчально-методичних матеріалів, є інтелектуальною
  власністю вузу.<br/>

  <h2>Інститути та факультети НТУУ "КПІ"</h2>
  <br />
  <progress-bar ng-if="loading"></progress-bar>

  <ul class="list">
    <li ng-repeat="faculty in faculties"><a href="{{faculty.url}}">{{faculty.title}}</a> - {{faculty.description}}</li>
  </ul>

  <h2>Загальноуніверситетські ЕІР</h2>
  Ресурси, що ґрунтується на ідеях і знаннях, нагромаджених у результаті науково-технічної діяльності для співробітників
  та студентів Університету.<br/>
  <a href="/generic/university">Переглянути</a>
</div>
