<breadcrumbs>
  <b>Автори інформаційних ресурсів</b>
</breadcrumbs>

<div class="col-md-12">
  <h1>Перелік авторів</h1>
  <br />
  <progress-bar ng-if="loading"></progress-bar>

  <table class="table">
    <tr ng-repeat="author in authors">
      <td>
        <a href="{{ author.url }}">{{ author.name }}</a> {{ author.description }}
      </td>
    </tr>


  </table>

  <pagination ng-show="!!authors && authors.length > 0" total-items="pagination.totalItemsCount" max-size="10" ng-model="pagination.currentPage" class="pagination-sm" boundary-links="true" rotate="true" num-pages="pagination.pageCount"></pagination>

</div>

