<breadcrumbs ng-if="!loading">
  <a href="#">{{ facultyTitle }}</a> >
  <b>{{ cathedra.title }}</b>
</breadcrumbs>

<div class="col-md-12" ng-if="loading">
  <br />
  <progress-bar ng-if="loading"></progress-bar>
</div>

<div class="col-md-12" ng-if="!loading">

  <h1>{{cathedra.title}}</h1>


  <div class="table-responsive">
    <table class="table">
      <tr>
        <td class="subdivision-logo">
          <img alt="@Model.Title" class="img-responsive" src="{{cathedra.logo}}"/>
        </td>
        <td>
          <div ng-bind-html="cathedra.content"></div>
          <div class="clear"></div>
        </td>
      </tr>
    </table>
  </div>


  <div ng-if="!!cathedra.url">
    <br/>
    <strong>Сторінка кафедри:</strong> <a href="{{cathedra.url}}">{{cathedra.url}}</a>
  </div>

  <h2>Напрями / спецільності кафедри</h2>

  <ul class="list">
    <li ng-repeat="speciality in specialities">
      <a href="{{speciality.url}}">{{speciality.code}} - {{speciality.title}}</a>
      {{speciality.description}}
    </li>
  </ul>

  <h2>ЕІР кафедри</h2>
  Ресурси, що ґрунтуються на ідеях і знаннях, нагромаджених у результаті науково-технічної діяльності для співробітників
  та студентів Кафедри.<br/>
  <a href="/generic/cathedra/{{cathedra.name}}">Переглянути</a>
</div>
