<nav class="breadcrumb">
  <a class="glyphicon glyphicon-home" href="/"></a> &gt; <b>Загальноуніверситетські інформаційні ресурси</b>
  <a style="float: right;" href="javascript:history.back()"><i>Повернутися у попередній розділ</i></a>
  <div class="clear"></div>
</nav>


<div class="col-md-12">

  <h2>Загальноуніверситетські ЕІР</h2>
  Ресурси, що ґрунтується на ідеях і знаннях, нагромаджених у результаті науково-технічної діяльності для співробітників
  та студентів Університету.<br>

  <h2>Тип матеріалу</h2>

  <ul class="list">
    <li ng-repeat="type in types"><a href="{{type.url}}">{{type.title}}</a></li>
  </ul>

</div>
