<breadcrumbs ng-if="!loading">
  <a ng-href="{{ facultyUrl }}">{{ facultyTitle }}</a> >
  <a ng-href="{{ cathedraUrl }}">{{ cathedraTitle }}</a> >
  <a ng-href="{{ specialityUrl }}">{{ specialityTitle }}</a> >
  <a ng-href="{{ disciplineUrl }}">{{ disciplineTitle }}</a> >
  <a ng-href="{{ creditModuleUrl }}">{{ creditModuleTitle }}</a> >
  <b>{{ kind.title }}</b>
</breadcrumbs>

<div class="col-md-12" ng-if="loading">
  <br/>
  <progress-bar ng-if="loading"></progress-bar>
</div>

<div class="col-md-12" ng-if="!loading">



</div>
